[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
jupyter = "*"
openpyxl = "*"
seaborn = "*"
flask = "==2.0.2"
applicationinsights = "*"
werkzeug = "==2.0.3"
jinja2 = "==3.0.2"
flask-login = "==0.5.0"
flask-migrate = "==3.1.0"
wtforms = "==3.0.0"
flask-wtf = "==1.0.0"
flask-sqlalchemy = "==2.5.1"
sqlalchemy = "==1.4.29"
email-validator = "==1.1.3"
gunicorn = "==20.1.0"
flask-restx = "==0.5.1"
python-dotenv = "==0.19.2"
flask-minify = "==0.37"

[dev-packages]

[requires]
python_version = "3.10"
